@model SeqDbPrototypeWeb.Models.Experiment

<div class="container" style="max-width:800px">
    <div class="row pt-4 pb-4">
        <h1 class="display-6">Create Experiment</h1>
    </div>

    <form method="post">
        <div class="form-group pb-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="ex: YYYYMMDD_ExperimentX">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group pb-4">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" placeholder="Describe experiment here..." rows="6"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group pb-4">
            <label asp-for="Owner"></label>
            <input asp-for="Owner" class="form-control" placeholder="ex: onyen">
            <span asp-validation-for="Owner" class="text-danger"></span>
        </div>
        <div class="form-group pb-4">
            <label asp-for="CreatedDateTime"></label>
            <input asp-for="CreatedDateTime" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
            <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
        </div>
        <div class="form-group pb-4">
            <label asp-for="ProjectId">Project</label>
            <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectIds">
                <option value="">Please choose your project</option>
            </select>
            <span asp-validation-for="ProjectId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Experiment" asp-action="Index" asp-route-ProjectId="@ViewData["ProjectId"]" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}
