@model Project

<div class="container" style="max-width:800px">
    <div class="row pt-4 pb-4">
        <h1 class="display-6">Create Project</h1>
    </div>

    <form method="post">
        <div class="form-group pb-4">
            <label asp-for="Abbreviation"></label>
            <input asp-for="Abbreviation" class="form-control" placeholder="ex: LIMA">
            <small class="form-text text-muted">Typically 4 uppercase letters</small><br />
            <span asp-validation-for="Abbreviation" class="text-danger"></span>
        </div>
        <div class="form-group pb-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="ex: LPS-Induced Macrophage Activation">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group pb-4">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" placeholder="Describe project here..." rows="6"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Project" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
